.container {
  max-width: 800px;
  margin: auto;
}

body {
  background-color: #1b96d9;
  font-family: Lato, sans-serif;
  font-style: normal;
  text-align: center;
  color: white;
}

.row {
  display: flex;
}

.header {
  justify-content: center;
  padding-top: 40px;
  letter-spacing: 1px;
}

.flex {
  flex-basis: calc(100% / 3);
  margin: 15px;
}

p {
  text-align: center;
  color: rgb(206 211 216);
  line-height: 1.4rem;
  font-size: 15px;
  margin: 8px 0 0;
  letter-spacing: 0.4px;
}

.circle {
  display: flex;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.avatar {
  justify-content: center;
  display: flex;
}

.image {
  width: 60px;
  height: 60px;
  justify-content: center;
  margin: auto;
}

div.column-third > h2 {
  font-size: 18px;
  margin: 15px 0 0;
}
