.container {
  /* max-width: 800px; */
  margin: auto;

  /* justify-content: center; */
}

body {
  background-color: #1b96d9;
  font-family: Lato, sans-serif;
  font-style: normal;
  text-align: center;
  color: white;
}

.row {
  display: flex;
}

.header {
  justify-content: center;
  padding-top: 40px;
}

.column-third {
  flex-basis: calc(100% / 3);
  margin: 30px;
}

p {
  text-align: center;
  color: rgb(206 211 216);
  line-height: 1.4rem;
}

.circle {
  display: flex;
  background-color: white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.avatar {
  justify-content: center;
  display: flex;
}

.image {
  width: 80px;
  height: 80px;
  justify-content: center;
  margin: auto;

  /* position: absolute;
  margin-top: 24px; */
}
