h2 {
  font-family: "Brandon Grotesque", sans-serif;
  text-transform: uppercase;
  color: #ec5d57;
  font-weight: 500;
  letter-spacing: 0.07rem;
  font-size: 2rem;
  text-align: center;
}

form {
  width: 50%;
  margin: auto;

  /* text-align: center; */
}

input,
select {
  width: 100%;
  border-radius: 0.4rem;

  /* border-color: lightgray; */
  font-family: AtlasGrotesk, sans-serif;
  font-size: 1.1rem;
  padding: 0.8rem;
  margin: 0.4rem;
  text-align: left;
  border: 1px solid lightgray;
}

label {
  text-transform: uppercase;
  font-family: "Brandon Grotesque", sans-serif;
  color: rgb(47 46 46);
  font-weight: bold;
  margin-left: 1.4rem;
}

select {
  background-color: #f3f3f3;
  font-family: "Brandon Grotesque", sans-serif;
}

button {
  text-transform: uppercase;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: bold;
  background-color: #ec5d57;
  border-radius: 1.9rem;
  color: white;
  border-color: #ec5d57;
  padding: 1rem 2.5rem;
  border: 1px solid;
  font-size: 1.2rem;
}

.button {
  text-align: right;
}
