.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
}

#charmander {
  /* your code here */
  position: relative;
  top: 40px;
  left: 10px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 60px;
  left: 10px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 80px;
  left: 10px;
}

#jigglypuff {
  position: relative;
  top: 140px;
  left: 10px;

  /* your code here */
}
