.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

/* .column-full {
  flex-basis: 100%;
} */

/* .column-one-third {
  flex-basis: calc(100% / 3);
} */

.second-row {
  display: flex;
  width: 25%;
}
