/* h1 {
  text-align: left;
} */

body {
  margin: 0;

  /* max-width: 800px;
  margin-left: auto;
  margin-right: auto; */
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 25%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.image {
  width: auto;
}
