.button {
  background-color: #4a4ae8;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 3px;
}

.modal-off {
  display: none;
}

.modal-on {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 60%);
}

.modal-content-off {
  display: none;
}

.modal-content-on {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefefe;
  margin: auto;
  padding: 30px 15px;
  border: none;
  width: 30%;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.close-button {
  padding: 10px 20px;
  background-color: #eb5d5d;
  border: none;
  color: white;
  margin-top: 10px;
  box-shadow: -1px 3px 4px -2px rgb(74 69 69 / 75%);
}
