body {
  max-width: 800px;
  margin: auto;
}

.display-flex {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.light-on {
  background-color: #fef9f1;
}

.light-bulb-on {
  background-color: #faea83;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 1px 2px 22px 0 rgb(242 222 94 / 75%);
}

.light-bulb-off {
  background-color: #252525;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 1px 2px 22px 0 rgb(0 0 0 / 75%);
}

.light-off {
  background-color: rgb(22 22 22);
}
