.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-wrap {
  flex-wrap: wrap;
}

.flex {
  margin-left: 0;
  flex-basis: 50%;

  /* padding: 8px 20px; */
}

body {
  font-family: Karla, sans-serif;
  line-height: 1.2rem;
  letter-spacing: 0.03rem;
}

p {
  color: rgb(51 51 51);
  text-align: left;
  font-size: 12px;
}

h1,
h3 {
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

div.row-header > p {
  text-align: center;
}

img {
  width: 100%;
}

div.column-three-quarters > p {
  margin: 0;
}

h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  margin-top: 30px;
}

button {
  text-transform: uppercase;
  font-family: Karla, sans-serif;
  background-color: white;
  color: #ec5d57;
  border-color: #ec5d57;
  padding: 0.6rem 3rem;
  border: 3px solid;
  font-size: 1.2rem;
  margin-top: 40px;
}

.center {
  display: flex;
  justify-content: center;
}

.size {
  flex-basis: 60%;
}

.margin-icon {
  margin-top: 30px;
}

.paddind-left {
  padding-left: 50px;
}

.paddind-right {
  padding-right: 50px;
}
