.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;

  /* flex-wrap: wrap; */
}

body {
  font-family: Karla, sans-serif;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
}

p {
  color: rgb(51 51 51);
}

h1,
h3 {
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

div.row-header > p {
  text-align: center;
}

.column-quarter {
  flex-basis: 25%;
}
